{% extends "qa/base.html" %}

{% block content %}
<div class="hero-unit">
    <h1>Zaloguj się</h1>

    <div class="container">
    <form class="form-signin span4" id="login_form" method="post" action="/accounts/login/">
        <h2 class="form-signin-heading">Podaj login i hasło</h2>
        {% csrf_token %}

        {% if form.errors %}
        <p><strong>Podane hasło lub login są nieprawidłowe!</strong></p>
        {% endif %}

        Login: <input type="text" id="id_username" class="input-block-level" placeholder="Login" name="username" value="" size="50" />
        <br />
        Hasło: <input type="password" id="id_password" class="input-block-level" placeholder="Hasło" name="password" value="" size="50" />
        <br />
        <button class="btn btn-primary" type="submit">Zaloguj</button>
        <input type="hidden" name="next" value="/qa/" />
    </form>

    </div>
    <!-- /container -->
</div>
{% endblock %}
