{% extends "qa/base.html" %}

{% block title %}RAPORTY{% endblock %}

{% block content %}
<div class="container">
  <div class="page-header">
    <h1>Dodawanie raportu uszkodzeń</h1>
  </div>
  <p class="lead">Awaryjny formularz dodawania raportów</p>
        {% if ean_form %}
        <form method="post" action="{% url 'qa:add_damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ ean_form.as_p }}
                <input type='hidden' name='action' value='check_ean' />
                <button class="in_line" type="submit">Dodaj po EAN'nie</button>
            </div>
        </form>
        {% endif %}
        {% if damage_report_form %}
        <form method="post" action="{% url 'qa:add_damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ damage_report_form.as_p }}
                <input type='hidden' name='action' value="add_damage_report" />
                <button class="in_line" type="submit" >Dodaj raport uszkodzeń</button>
            </div>
        </form>
        {% endif %}
    </div>
{% endblock %}
