<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Raport uszkodzeń</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css" />
</head>
{% include 'qa/header.html' %}
<body>
<div id="main_container">
    {% include 'qa/common_communication.html' %}
{#    {% include 'qa/menu.html' %}#}
    <div id="content">
        <h1>{{ user }}</h1>
        {% if ean_form %}
        <form method="post" action="{% url 'qa:damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ ean_form.as_p }}
                <input type='hidden' name='action' value='check_ean' />
                <button class="in_line" type="submit">Dodaj po EAN'nie</button>
            </div>
        </form>
        {% endif %}
        {% if damage_report_form %}
        <form method="post" action="{% url 'qa:damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ damage_report_form.as_p }}
                <input type='hidden' name='action' value="add_damage_report" />
                <button class="in_line" type="submit" >Dodaj raport uszkodzeń</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
</body>
</html>
