{% load static %}
<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="charset=utf-8"/>
  <meta http-equiv="Content-Language" content="pl-PL"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <meta name="author" content="Bartosz Nowak <sztosz['at']gmail['dot']com>"/>
  <meta name="description" content="Set of helper tools for Neonet Quality Assurance Division."/>
  <meta name="copyright" content="All content excluding Bootstrap and dynamic data (c) Bartosz Nowak"/>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <meta name="author" content="Bartosz Nowak <sztosz['at']gmail['dot']com>"/>
  <meta name="description" content="Set of helper tools for Neonet Quality Assurance Division."/>
  <meta name="copyright" content="All content excluding dynamic data (c) Bartosz Nowak, but please do read licence"/>

  <!-- Bootstrap -->
  <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
  <link href="{% static 'css/sticky-footer-navbar.css' %}" rel="stylesheet">

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->


  <title>{% block title %}NOENET QA{% endblock %}</title>
</head>
<body>
<!-- Wrap all page content here -->
<div id="wrap">

  <!-- Fixed navbar -->
  <div class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="{% url 'qa:damage_reports' %}">Neonet QA</a>
      </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            {% if user.is_authenticated %}
              <li>Witaj, {{ user.username }}!</li>
              <li><a href="/qa/logout/">Wyloguj</a></li>
              <li class="divider"></li>
            {% endif %}
            <li class="dropdown-header">Strony</li>
            <li><a href="{% url 'qa:damage_reports' %}">Raporty uszkodzeń</a></li>
            <li><a href="{% url 'qa:commodity_import' %}">Dodawanie towarów</a></li>
            <li><a href="{% url 'qa:commodity_update_by_ean' %}">Towary bez nazwy</a></li>
            <li><a href="{% url 'qa:quick_commodity_list' %}">Szybkie listy</a></li>
            <li><a href="{% url 'qa:damage_report' %}">Nowy Raport</a></li>
          </ul>
        </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
  </div>

  <!-- Begin page content -->
  {% block content %}
  {% endblock %}
</div>


<div id="footer">
  <div class="container">
    <p class="text-muted">&copy; Bartosz Nowak 2013-2014</p>
  </div>
</div>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="{% static 'js/jquery-2.0.3.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
</body>

</html>
