{% extends "qa/base.html" %}

{% block title %}TOWARY{% endblock %}
{% block title_long %}Importowanie towarów{% endblock %}

{% block content %}
  <div class="container">
  <div class="page-header">
    <h1>Import towarów</h1>
  </div>
  <p class="lead">Towary można wpisywać pojedyńczo używając poniżeszego formularza, lub zaimportować je hurtem z pliku wyeksportowanego z CDN. Przy imporcie hurtem proszę pamiętać, że musi to być arkusz excela, EAN powienien znajdować się w pierwszej kolumnie, INDEX w drugiej, a NAZWA w trzeciej kolumnie. Obecnie brakuje systemu powiadomień o błędach w importowanym pliku...</p>
        <form method="post" action="{% url 'qa:commodity_import' %}">
            {% csrf_token %}
            <div class="in_block">
                    {{ add_single_form.as_p }}
                <input type='hidden' name='action' value='add' />
                <button class="in_line" type="submit" >Dodaj</button>
            </div>
        </form>
        <form method="post" enctype="multipart/form-data" action="{% url 'qa:commodity_import' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ batch_upload_file_form.as_p }}
                <input type='hidden' name='action' value='import' />
                <button class="in_line" type="submit" >Importuj</button>
            </div>
        </form>
    </div>
{% endblock %}
