<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Commodity Import</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css" />
</head>
<body>
<div id="main_container">
    {% include 'qa/header.html' %}
    {% include 'qa/common_communication.html' %}
{#    {% include 'qa/menu.html' %}#}
    <div id="content">
        <h3>SINGLE COMMODITY IMPORT:</h3>
        <form method="post" action="{% url 'qa:commodity_import' %}">
            {% csrf_token %}
            <h4>Add new Commodity:</h4>
            <div class="in_block">
                {{ add_single_form.as_p }}
                <button class="in_line" type="submit" name="action" value="add">Add</button>
            </div>
        </form>
        <h3>BATCH COMMODITY IMPORT FROM EXCEL FILE:</h3>
        <form method="post" enctype="multipart/form-data" action="{% url 'qa:commodity_import' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ batch_upload_file_form.as_p }}
                <button class="in_line" type="submit" name="action" value="import">Import</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>
