<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Raporty uszkodzeń</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css" />
</head>
{% include 'qa/header.html' %}
<body>
<div id="main_container">
    {% include 'qa/common_communication.html' %}
{#    {% include 'qa/menu.html' %}#}
    <div id="content">
        {% if damage_reports_filter %}
        <form method="post" action="{% url 'qa:damage_reports' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ damage_reports_filter.as_p }}
                <input type='hidden' name='action' value='view' />
                <button class="in_line" type="submit">Filtruj</button>
            </div>
        </form>
        {% endif %}
        {% if damage_reports %}
            {% for report in damage_reports %}
                Towar: {{ report.commodity.name }}<br/>
                Serial: {{ report.serial }}<br/>
                Wykryto: {{ report.detection_time }}<br/>
                User: {{ report.user }}<hr/>
            {% endfor %}
        {% else %}
            Nie znaleziono raportów spełniających kryteria
        {% endif %}
    </div>
</div>
</body>
</html>
