{% extends "qa/base.html" %}

{% block title %}RAPORTY{% endblock %}
{% block title_long %}Raporty Uszkodzeń{% endblock %}

{% block content %}
  <div class="container">
  <div class="page-header">
    <h1>Zestawienie raportów</h1>
  </div>
  <p class="lead">Lista raportów, proszę przefiltrować używając poniższego formularza</p>
  {% if damage_reports_filter %}
    <form method="post" action="{% url 'qa:damage_report_export' %}">

      {#                {% for hidden in damage_reports_filter.hidden_fields %}#}
      {#                    {{ hidden }}#}
      {#                {% endfor %}#}
      <input type='hidden' name='action' value='view'/>
      {#                {% for field in damage_reports_filter.visible_field %}#}
      {% for field in damage_reports_filter %}
        {{ fiedl.errors }}
        {{ field.help_text }}<br/>
        {{ field }}<br/>
      {% endfor %}
      <button class="btn btn-primary" type="submit" name="submit">Filtruj</button>
    </form>
  {% endif %}
  {% if damage_reports %}
    {% for report in damage_reports %}
      Towar: {{ report.commodity.name }};
      Serial: {{ report.serial }};
      Wykryto: {{ report.detection_time }};
      User: {{ report.user }}<br/>
    {% endfor %}
    <form method="post" action="{% url 'qa:damage_report_export' %}">
      {% csrf_token %}
      {{ damage_reports_filter.as_p }}
      <p><input type='hidden' name='action' value='export'/>
        <button class="in_line" type="submit">Eksportuj</button>
      </p>
    </form>
  {% else %}
    Nie znaleziono raportów spełniających kryteria
  {% endif %}
  </div>
{% endblock %}
