{% extends "qa/base.html" %}

{% block title %}RAPORTY{% endblock %}
{% block title_long %}Raporty Uszkodzeń{% endblock %}

{% block content %}
    {% if damage_reports_filter %}
        <form method="post" action="{% url 'qa:damage_reports' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ damage_reports_filter.as_p }}
                <p><input type='hidden' name='action' value='view' />
                <button class="in_line" type="submit">Filtruj</button></p>
            </div>
        </form>
        {% endif %}
    {% if damage_reports %}
        <p>
        {% for report in damage_reports %}
            Towar: {{ report.commodity.name }};
            Serial: {{ report.serial }};
            Wykryto: {{ report.detection_time }};
            User: {{ report.user }}<br />
        {% endfor %}
        </p>
        <form method="post" action="{% url 'qa:damage_reports' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ damage_reports_filter.as_p }}
                <p><input type='hidden' name='action' value='export' />
                <button class="in_line" type="submit">Exportuj</button></p>
            </div>
        </form>
    {% else %}
        Nie znaleziono raportów spełniających kryteria
    {% endif %}
{% endblock %}
