<!DOCTYPE html>
<html>
<head>
    <title>KONTROLA JAKOŚCI</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css" />
</head>
<body>
{% include 'qa/header.html' %}
<div id="main_container">
    {% include 'qa/common_communication.html' %}
    <div id="content">
        <p><a href="{% url 'S:index' %}">MENU SKANERA</a></p>
        <p><a href="{% url 'qa:commodity_import' %}">Dodawanie towarów do bazy</a></p>
        <p><a href="{% url 'qa:damage_report_export' %}">Eksport raportów</a></p>
        <p><a href="{% url 'qa:damage_report' %}">Dodaj raport uszkodzeń</a></p>
        <p><a href="{% url 'qa:commodity_update_by_ean' %}">Wyświetl towary bez nazwy</a></p>
        <p><a href="{% url 'qa:quick_commodity_list' %}">Szybkie listy towarów</a></p>
    </div>
</div>
</body>
</html>
