<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Raport uszkodzeń</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}base.css" />
</head>
{% include 'qa/header.html' %}
<body>
<div id="main_container">
    {% include 'qa/common_communication.html' %}
{#    {% include 'qa/menu.html' %}#}
    <div id="content">
    {%  for list in quick_commodity_lists %}
        <form method="post" action="{% url 'qa:quick_commodity_list' %}">
            {% csrf_token %}
            <div class="in_block">
                <input type='hidden' name='action' value='list_details' />
                <input type='hidden' name='list_id' value='{{ list.id }}'/>
                {{ list.name }}<br />
                {{ list.comment }}<br />
                {{ list.date }}<br />
                <button class="in_line" type="submit">Zobacz listę</button>
            </div>
        </form>
        <hr>
    {% endfor %}
    {%  for list in quick_commodity_list %}
        Towar: {{ list.commodity }};
        Serial: {{ list.serial }};
        Komentarz: {{ list.comment }};
        <hr>
    {% endfor %}
    </div>
</div>
</body>
</html>
