{% extends "qa/base.html" %}

{% block title %}LISTY{% endblock %}
{% block title_long %}Szybkie listy towarów{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Szybka lista towarów</h1>
    </div>

    <p class="lead">{{ list.name }} {{ list.date|date }} {{ list.comment }}</p>

    <p>Czy aktualizować listę? <a href="{% url 'qa:quick_commodity_list_update' list.id %}">AKTUALIZUJ</a></p>
    {% for c in commodities %}
      <p>
        <strong>Towar:</strong> {{ c.commodity }}
        <strong>Serial:</strong> {{ c.serial }}
        <strong>Komentarz:</strong> {{ c.comment }}
        <a href="{% url 'qa:quick_commodity_list_detail_update' c.id %}"> AKTUALIZUJ</a>
        <a href="{% url 'qa:quick_commodity_list_detail_delete' c.id %}"> USUŃ</a>
      </p>
    {% endfor %}

  </div>
{% endblock %}
