{% extends "qa/base.html" %}

{% block title %}RAPORTY{% endblock %}
{% block title_long %}Raporty Uszkodzeń{% endblock %}

{% block content %}
    {% if chart_filter_form %}
        <form method="post" action="{% url 'qa:reports_charts' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ chart_filter_form.as_p }}
                <p><input type='hidden' name='action' value='view' />
                <button class="in_line" type="submit">Filtruj</button></p>
            </div>
        </form>
    {% endif %}
{% endblock %}
