<!--
# -*- coding: utf-8 -*-
#
# Created on 2013-10-11
#
# @author: Bartosz Nowak sztosz@gmail.com
#
# This file is licensed GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
-->
{% extends "qa/../neonet/base.html" %}

{% block title %}ZWROTY{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Zwroty</h1>
    </div>

    <p class="lead">Lista zarejestrownych zwrotów od kontrachentów i salonów</p>

    {% for list in object_list %}
      <p>
        <strong>Numer:</strong> {{ list }}
        <strong>Przewoźnik:</strong> {{ list.carrier }}
        <strong>Kierowca:</strong> {{ list.driver_name }}
        <strong>Nr rejestracyjny:</strong> {{ list.car_plates }}
        <strong>Data:</strong> {{ list.start_date }}
        <a href="{% url 'DamageReports:commercial_return_detail' list.id %}"><strong>WYŚWIETL</strong></a>
        <a href="{% url 'DamageReports:commercial_return_print' list.id %}"><strong>DRUKUJ</strong></a>
        <a href="{% url 'DamageReports:commercial_return_export' list.id %}"><strong>EKSPORTUJ</strong></a>
        <a href="{% url 'DamageReports:commercial_return_update' list.id %}">AKTUALIZUJ</a>
        <a href="{% url 'DamageReports:commercial_return_close' list.id %}">ZAMKNIJ</a>
      </p>
    {% endfor %}

  </div>
{% endblock %}
