<!--
# -*- coding: utf-8 -*-
#
# Created on 2013-10-11
#
# @author: Bartosz Nowak sztosz@gmail.com
#
# This file is licensed GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
-->
{% extends "qa/../neonet/base.html" %}

{% block title %}LISTY{% endblock %}
{% block title_long %}Szybkie listy towarów{% endblock %}

{% block content %}
  <div class="container">
    <div class="page-header">
      <h1>Szybka lista towarów</h1>
    </div>

    <p class="lead">{{ list.name }} {{ list.date|date }} {{ list.comment }}</p>

    <p>Czy aktualizować listę? <a href="{% url 'DamageReports:quick_commodity_list_update' list.id %}">AKTUALIZUJ</a></p>
    <p>Czy eksportować listę? <a href="{% url 'DamageReports:quick_commodity_list_detail_export' list.id %}">EKSPORTUJ</a></p>
    {% for c in commodities %}
      <p>
        <strong>Towar:</strong> {{ c.commodity }}
        <strong>Serial:</strong> {{ c.serial }}
        <strong>Komentarz:</strong> {{ c.comment }}
        <a href="{% url 'DamageReports:quick_commodity_list_detail_update' c.id %}"> AKTUALIZUJ</a>
        <a href="{% url 'DamageReports:quick_commodity_list_detail_delete' c.id %}"> USUŃ</a>
      </p>
    {% endfor %}

  </div>
{% endblock %}
