<!--
# -*- coding: utf-8 -*-
#
# Created on 2013-10-11
#
# @author: Bartosz Nowak sztosz@gmail.com
#
# This file is licensed GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
-->
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Raport uszkodzeń</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'S/scanner.css' %}" />
</head>
<body>
<div id="main_container">
    {% include 'S/header.html' %}
    {% include 'S/common_communication.html' %}
{#    {% include 'DamageReports/menu.html' %}#}
    <div id="content">
        {% if damage_detection_time_form %}
        <form method="post" action="{% url 'S:damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ damage_detection_time_form.as_ul }}
                <input type='hidden' name='action' value='choose_detection_time' />
                <button class="in_line" type="submit">Wybierz moment wykrycia</button>
            </div>
        </form>
        {% endif %}
        {% if ean_form %}
        <form method="post" action="{% url 'S:damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ ean_form.as_ul }}
                <input type='hidden' name='action' value='check_ean' />
                <button class="in_line" type="submit">Dodaj po EAN'nie</button>
            </div>
        </form>
        {% endif %}
        {% if damage_report_form %}
        <form method="post" action="{% url 'S:damage_report' %}">
            {% csrf_token %}
            <div class="in_block">
                    {{ damage_report_form.as_ul }}
                <input type='hidden' name='action' value="add_damage_report" />
                <button class="in_line" type="submit" >Dodaj raport uszkodzeń</button>
            </div>
        </form>
        {% endif %}
    </div>
</div>
</body>
</html>
