<div class="header">
{#    <p><button class="in_line"><a href="{% url 'qa:index' %}">INDEX</a></button>#}
{#       <button class="in_line"><a href="{% url 'qa:logout' %}">LOGOUT</a></button></p>#}
    <p>
    <form><input type="button" value="RAPORT USZKODZEŃ" onClick="window.location.href='{% url 'S:damage_report' %}'"></form>
    <form><input type="button" value="SPRAWDŹ S/N" onClick="window.location.href='{% url 'S:check_sn' %}'"></form>
    <form><input type="button" value="SZYBKA LISTA TOWARÓW" onClick="window.location.href='{% url 'S:quick_commodity_list' %}'"></form>
    <hr>
    <form><input type="button" value="WYLOGUJ" onClick="window.location.href='{% url 'qa:logout' %}'"></form>
    </p>
    <hr>
    <hr>

</div>
