<!DOCTYPE html>
<html>
<head>
    <title>Scanner menu</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}S/scanner.css" />
    <script src="{{ STATIC_URL }}jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}S/scanner.js"></script>
</head>
<body>
<div id="main_container">
    {% include 'S/header.html' %}
    {% include 'S/common_communication.html' %}
    {#    {% include 'qa/menu.html' %}#}
    <p>ZALOGOWANY: {{ user }}</p>
</div>
</body>
</html>
