<!--
# -*- coding: utf-8 -*-
#
# Created on 2013-10-11
#
# @author: Bartosz Nowak sztosz@gmail.com
#
# This file is licensed GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
-->
<!DOCTYPE html>
<html>
<head>
    <title>Scanner menu</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{% static 'S/scanner.css' %}" />
</head>
<body>
<div id="main_container">
    {% include 'S/header.html' %}
    {% include 'S/common_communication.html' %}
    {#    {% include 'qa/menu.html' %}#}
    <p>ZALOGOWANY: {{ user }}</p>
</div>
</body>
</html>
