<!--
# -*- coding: utf-8 -*-
#
# Created on 2013-10-11
#
# @author: Bartosz Nowak sztosz@gmail.com
#
# This file is licensed GNU GENERAL PUBLIC LICENSE Version 3, 29 June 2007
-->
<!DOCTYPE html>
<html>
<head>
    <title>LOGIN REQUIRED</title>
    {% load staticfiles %}
</head>
<body>
    <div class='login_box'>
        {% if form.errors %}
            <p class="errorlist">Podany login i hasło się nie zgadzają, spróbuj ponownie.</p>
        {% endif %}

        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            {{ form.username.label_tag }}
            {{ form.username }}<br/>
            {{ form.password.label_tag }}
            {{ form.password }}
            <input id="id_login_submit" type="submit" value="Login" />
            <input type="hidden" name="next" value="{{ next }}" />
        </form>
    </div>
</body>
</html>
