<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/html">
<head>
    <title>Sprawdź SN</title>
    {% load staticfiles %}
    <link type="text/css" rel="stylesheet" href="{{ STATIC_URL }}S/scanner.css" />
    <script src="{{ STATIC_URL }}jquery-1.10.2.js"></script>
    <script src="{{ STATIC_URL }}S/scanner.js"></script>
</head>
<body>
<div id="main_container">
    {% include 'S/header.html' %}
    {% include 'S/common_communication.html' %}
{#    {% include 'qa/menu.html' %}#}
    <div id="content">
    {% if new_quick_commodity_list_form %}
        <form method="post" action="{% url 'S:quick_commodity_list' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ new_quick_commodity_list_form.as_ul }}
                <input type='hidden' name='action' value='create_new_list' />
                <button class="in_line" type="submit">Stwórz nową listę</button>
            </div>
        </form>
    {% endif %}
    {% if commodity_to_quick_list_form %}
        <form method="post" action="{% url 'S:quick_commodity_list' %}">
            {% csrf_token %}
            <div class="in_block">
                {{ commodity_to_quick_list_form.as_ul }}
                <input type='hidden' name='action' value='add_commodity_to_list' />
                <button class="in_line" type="submit">Dodaj towar do listy</button>
            </div>
        </form>
    {% endif %}
    {%  for list in quick_commodity_list %}
            <form method="post" action="{% url 'S:quick_commodity_list' %}">
            {% csrf_token %}
            <div class="in_block">
                <input type='hidden' name='action' value='add_commodity_to_list' />
                <input type='hidden' name='list_id' value='{{ list.id }}'/>
                {{ list.name }}<br />
                {{ list.comment }}<br />
                {{ list.date }}<br />
                <button class="in_line" type="submit">Dodaj towar do listy</button>
            </div>
        </form>
        <hr>
    {% endfor %}
    {% for entry in commodity_in_quick_list %}
        {{ entry.commodity.name }}<br />
        {{ entry.serial }}<br />
        {{ entry.comment }}<br />
        <hr>
    {% endfor %}
    </div>
</div>
</body>
</html>

