body{
    background-color: whitesmoke;
    margin-top: 0;
    margin-left: 20px;
    margin-right: 20px;
    padding-top: 0;
    padding-left: 20px;
    padding-right: 20px;
    font-family: sans-serif;

}
/*#data_control{*/

/*}*/
#main_container{
    width: 840px;
    margin: 0;
    padding: 20px;
    background-color: lightgrey;
}
.errorlist{
    color: red;
}
.messagelist{
    color: blue;
}
.in_block{
    display: block;
}
.in_line{
    display: inline;
}
form{
    /*border: whitesmoke;*/
    /*border-bottom-style: dashed;*/
    padding: 0;
    margin: 0;
}
form label{
    width: 350px;
    float: left;
    display:inline-block;
}
.long_label{
    /*width: 350px;*/
}
form input{
    /*float: left;*/
    /*display: display:inline-block;*/
}
form select{
    /*float: left;*/
    display: display:inline-block;
}
.form_fieldsets {
    border: solid whitesmoke;
    margin: 10px;

}
form select, input, textarea {
    /*width: 350px;*/
    padding: 1px !important;
    margin: 1px !important;
    /*display: block;*/
    max-width: 350px !important;
    /*margin: 0.2em 0 !important;*/
    /*padding: 0.1em 0 !important;*/
    text-indent: 0 !important;
    white-space: nowrap;
    text-overflow:ellipsis;
    width: 98% !important;
    outline: none;
    /*word-wrap: break-word;*/
    /*word-wrap: break-all;*/
    white-space: nowrap;
    /*ms-box-sizing:content-box;*/
    -moz-box-sizing:content-box;
    -webkit-box-sizing:content-box;
    box-sizing:content-box;
}
.short_input{
    max-width: 200px !important;
}
a:link {
    color: #000000;
    text-decoration: none
}
a:visited{
    color: #000000;
    text-decoration: none
}
a:active{
    color: #000000;
    text-decoration: none
}
a:hover{
    color: #000000;
    text-decoration: none
}
.login_box{
    border: solid 1px black;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    width: 240px;
    padding: 10px;
    background-color: dimgray;
}
/*#id_username{*/
    /*max-width: 100px !important;*/
/*}*/
/*#id_password{*/
    /*max-width: 100px !important;*/
/*}*/
#id_login_submit{
    max-width: 100px !important;
}
